@import url('header.css');
@import url('informacoes.css');

:root {
    --fundo-card: #1B2226;
    --preto: #000;
    --branco: rgba(255, 255, 255);
    --cinza: rgba(255, 255, 255, 0.60);
    --azul: #70B5F9;

    --font-primaria: 'Roboto';
    --font-secundaria: 'Inter';

}

body{
    box-sizing: border-box;
    max-width: 100vw;
    background: var(--preto);
    color: var(--branco);
    font-family: var(--font-primaria);
}
